[user]
	email = lyndon.white@invenialabs.co.uk
	name = Lyndon White
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit


[credential "https://gitlab.invenia.ca"]
	username = lyndon.white
	helper = cache

[url "git@gitlab.invenia.ca:"]
    insteadOf = https://gitlab.invenia.ca/

#[url "https@gitlab.invenia.ca:"]
#    insteadOf = git@gitlab.invenia.ca
[core]
	excludesfile = /Users/oxinabox/.gitignore_global
[pull]
	ff = only
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = cache
